@import "./theme.css";

body {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    padding-top: var(--top-inset);
    padding-bottom: var(--bottom-inset);
    margin: 0;
    font-size: 16px;
}

.root_layout {
    width: 100%;
    max-width: 768px;
    min-height: calc(100vh - var(--top-inset) - var(--bottom-inset));
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.header {
    width: 100vw;
    position: fixed;
    padding-top: var(--top-inset);
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--md-sys-color-surface);
}

.top-bar {
    font-size: 1.4em;
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3em;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
}

md-tabs {
    width: 100%
}

.content-container {
    width: 100%;
    max-width: calc(100vw - 32px);
    margin-top: 128px;
}

.switch-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;
    font-size: 1.2em;
    color: var(--md-sys-color-on-primary-container);
    background-color: var(--md-sys-color-primary-container);
    border-radius: 20px;
    user-select: none;
}

.list {
    margin-top: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list-item {
    max-width: 100%;
    background-color: var(--md-sys-color-surface-container);
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
}

label {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-grow: 1;
    min-width: 0;
}

.app-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    min-width: 0;
}

.app-icon {
    height: 40px;
    width: 40px;
    pointer-events: none;
    user-select: none;
}

.app-label {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.operation,
.app-uid {
    font-size: 0.6em;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
    color: var(--md-sys-color-on-primary);
    background-color: var(--md-sys-color-primary);
    user-select: none;
}

.package-name {
    font-size: 0.8em;
    color: var(--md-sys-color-outline);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-box {
    width: 100%;
    display: flex;
    margin: 16px 0;
    gap: 8px;
    position: relative;
}

.add-button {
    flex-shrink: 0;
    --md-filled-icon-button-container-height: 56px;
    --md-filled-icon-button-container-width: 56px;
    --md-filled-icon-button-container-shape: 6px;
}

.mount-entry {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.reminder {
    font-size: 0.6em;
    color: var(--md-sys-color-outline);
}

.indicator {
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
        fill: greenyellow;
    }
}

.inactive.indicator{
    svg {
        fill: orangered;
    }
}

.remove-btn {
    flex-shrink: 0;
    --md-sys-shape-corner-full: 8px;
}

.sulog-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sulog-uid {
    flex-grow: 1;    
}

.sulog-app .app-label {
    font-size: 0.9em;
}

.operations {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.operation.access {
    color: black;
    background-color: forestgreen;
}

#filter-access {
    --md-filter-chip-outline-color: forestgreen;
}

.operation.stat {
    color: black;
    background-color: chocolate;
}

#filter-stat {
    --md-filter-chip-outline-color: chocolate;
}

.operation.exec {
    color: black;
    background-color: cornflowerblue;
}

#filter-exec {
    --md-filter-chip-outline-color: cornflowerblue;
}

.operation.ioctl {
    color: black;
    background-color: darkturquoise;
}

#filter-ioctl {
    --md-filter-chip-outline-color: darkturquoise;
}

.inactive-banner {
    display: none;
    font-size: 1.2em;
    text-align: center;
    color: var(--md-sys-color-outline);
    position: fixed;
    left: 0;
    top: 50vh;
    width: 100vw;
    user-select: none;
}

.inactive-banner.active {
    display: block;
}

md-radio {
    flex-shrink: 0;
    margin: 0 8px;
}

md-fab {
    position: fixed;
    right: 16px;
    bottom: calc(var(--bottom-inset) + 16px);
}

md-outlined-text-field {
    flex-grow: 1;
}

md-menu {
    max-width: 768px;
}

md-menu-item {
    width: calc(100vw - 32px);
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#crown {
    transform: scale(0);
    transition: all 0.2s ease;
}

#crown.show {
    transform: scale(1);
}

[slot="headline"] {
    user-select: none;
}

[unresolved] {
    opacity: 0;
    overflow: hidden;
}

[hidden] {
    display: none;
}
