@import "./theme.css";

body {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    padding-top: var(--top-inset);
    padding-bottom: var(--bottom-inset);
    margin: 0;
    font-size: 16px;
}

.root_layout {
    width: 100%;
    max-width: 768px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.header {
    width: 100vw;
    position: fixed;
    padding-top: var(--top-inset);
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--md-sys-color-surface);
}

.top-bar {
    font-size: 1.4em;
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3em;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
}

.body-content {
    margin-top: 64px;
    width: 100%;
    max-width: calc(100vw - 32px);
}

.switch-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;
    font-size: 1.2em;
    color: var(--md-sys-color-on-primary-container);
    background-color: var(--md-sys-color-primary-container);
    border-radius: 20px;
    margin-top: 16px;
    user-select: none;
}

#manager-list {
    margin-top: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.manager-list-item {
    max-width: 100%;
    background-color: var(--md-sys-color-surface-container);
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
}

label {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-grow: 1;
    min-width: 0;
}

.app-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    min-width: 0;
}

.app-icon {
    height: 40px;
    width: 40px;
    pointer-events: none;
    user-select: none;
}

.app-label {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.app-uid {
    font-size: 0.6em;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
    color: var(--md-sys-color-on-primary);
    background-color: var(--md-sys-color-primary);
    user-select: none;
}

.package-name {
    font-size: 0.8em;
    color: var(--md-sys-color-outline);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#unsupported,
#empty {
    display: none;
    font-size: 1.2em;
    text-align: center;
    color: var(--md-sys-color-outline);
    position: fixed;
    left: 0;
    bottom: 50vh;
    width: 100vw;
    user-select: none;
}

md-radio {
    flex-shrink: 0;
    margin: 0 8px;
}

md-fab {
    position: fixed;
    right: 16px;
    bottom: calc(var(--bottom-inset) + 16px);
}

#crown {
    transform: scale(0);
    transition: all 0.2s ease;
}

#crown.show {
    transform: scale(1);
}

[slot="headline"] {
    user-select: none;
}

[unresolved] {
    opacity: 0;
    overflow: hidden;
}
