name: build module

on:
  push:
    branches: master
    paths-ignore: 
      - '**.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: grab zig
        run: |
          curl -L https://ziglang.org/download/0.15.2/zig-x86_64-linux-0.15.2.tar.xz -o zig.tar.xz
          tar -xf zig.tar.xz
          mv zig-* zig

      - name: grab sstrip from ELFkickers
        run: |
          curl -L https://www.muppetlabs.com/~breadbox/pub/software/ELFkickers-3.2.tar.gz -o sstrip.tar.gz
          tar xf sstrip.tar.gz
          make -C ELFkickers-3.2 sstrip
          cp ELFkickers-3.2/sstrip/sstrip .

      - name: compile via zigcc
        run: |
          echo "aarch64"
          pwd
          chmod +x sstrip

          ./zig/zig cc -target aarch64-linux -s -Oz src/uid_tool.c -static -Wl,--gc-sections,-z,norelro -fno-unwind-tables -o uid_tool

          wc -c uid_tool
          
          ./sstrip uid_tool
          
          wc -c uid_tool
          file uid_tool
          mv uid_tool module/uid_tool

      - name: Build WebUI
        run: |
          cd webui
          npm ci
          npm run build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: module
          path: module/


