name: build module

on:
  push:
    branches: master
    paths-ignore: 
      - '**.md'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup zig
        uses: mlugg/setup-zig@v2
        with:
          version: master

      - name: grab sstrip from ELFkickers
        run: |
          curl -L https://www.muppetlabs.com/~breadbox/pub/software/ELFkickers-3.2.tar.gz -o sstrip.tar.gz
          tar xf sstrip.tar.gz
          make -C ELFkickers-3.2 sstrip
          cp ELFkickers-3.2/sstrip/sstrip .

      - name: compile via zigcc
        run: |
          echo "aarch64"
          pwd
          chmod +x sstrip

          cd src
          zig cc -target aarch64-linux -s -Oz -static -Wl,--gc-sections,-z,norelro -fno-unwind-tables -Wl,--entry=__start -flto -fmerge-all-constants toolkit.c -o toolkit

          wc -c toolkit
          
          ../sstrip -z toolkit
          
          wc -c toolkit
          file toolkit
          mv toolkit ../module/toolkit

      - name: Build WebUI
        run: |
          cd webui
          npm ci
          npm run build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: module
          path: module/


